Kantar.GHP/FtpWebApplication/Service References/FtpUserIsolationService/item31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.10.218:8181/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MicroServices.FtpUserIsolation.FtpUserIsolationService.Data" />
  <xs:element name="SetNewFtpUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MicroServices.FtpUserIsolation.FtpUserIsolationService.Data" minOccurs="0" name="UserDetails" nillable="true" type="q1:ClassFtpUserIsolation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNewFtpUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetNewFtpUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MicroServices.FtpUserIsolation.FtpUserIsolationService.Data" minOccurs="0" name="UserDetails" nillable="true" type="q2:ClassFtpUserIsolation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MicroServices.FtpUserIsolation.FtpUserIsolationService.Data" minOccurs="0" name="UserDetails" nillable="true" type="q3:ClassFtpUserIsolation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateGroupResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateFolder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MicroServices.FtpUserIsolation.FtpUserIsolationService.Data" minOccurs="0" name="UserDetails" nillable="true" type="q4:ClassFtpUserIsolation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateFolderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateFolderResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestRequestPOSTJson">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestRequestPOSTJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestRequestPOSTJsonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestRequestGETJson">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestRequestGETJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestRequestGETJsonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestRequestGETWithStringParamiterJson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestStringParamiter1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TestStringParamiter2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestRequestGETWithStringParamiterJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestRequestGETWithStringParamiterJsonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestRequestPOSTXml">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestRequestPOSTXmlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestRequestPOSTXmlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestRequestPOSTWithObjectParamiterXml">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MicroServices.FtpUserIsolation.FtpUserIsolationService.Data" minOccurs="0" name="TestObjParamiter" nillable="true" type="q5:ClassFtpUserIsolation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestRequestPOSTWithObjectParamiterXmlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestRequestPOSTWithObjectParamiterXmlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestRequestGETXml">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestRequestGETXmlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestRequestGETXmlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>