Kantar.GHP/FtpWebApplication/Service References/FtpUserIsolationService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MicroServices.FtpUserIsolation.FtpUserIsolationService.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MicroServices.FtpUserIsolation.FtpUserIsolationService.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClassFtpUserIsolation">
    <xs:sequence>
      <xs:element minOccurs="0" name="FolderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RootFolderPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClassFtpUserIsolation" nillable="true" type="tns:ClassFtpUserIsolation" />
</xs:schema>